In [1]:
print("Hello world")

Hello world

In [3]:
# variable
name ="Ravi"                      
age = 19
price = 25.99
print("my name is :", name)
print("my age is :",age)
print("my price is :",price)

my name is : Ravi
my age is : 19
my price is : 25.99

In [8]:
# swap of two variable
a = 5
b = 10
a,b = b,a
print("a =", a)
print("b = ", b)

a = 10
b =  5

In [ ]:
# data type
age = 19                   
name ="Ravi"
price = 19.99
x = True
result = None
print(type(age))
print(type(name))
print(type(price))
print(type(x))
print(type(result))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [5]:
# type casting
a = "123"
b = 1.23
print(type(a))
print(type(b))
a = int(a)
print("after conversion",type(a))

<class 'str'>
<class 'float'>
after conversion <class 'int'>

Expression Execution -
 String & Numeric values

In [28]:
A,B=2,3
Txt="@"
print(2*Txt*3)

@@@@@@

String & String

In [29]:
A,B="2",3
Txt="@"
print((A+Txt)*B)

2@2@2@

Remainder is negative when denominater is nagetive

In [2]:
A,B = -5,2
C=A%B
print(C)

1

Conditional Statement

In [ ]:
marks =int(input("marks"))
if(marks >= 90):
  print("A")
elif(marks >= 80 and marks < 90):
  print("B")
elif(marks >= 70 and marks < 80):
  print("C")
else:
  print("D")

A

In [ ]:
# if Statement
age = 15                       
if age < 20:
    a = age * 5 * 1/100
    b=a
    print(b)
    print("Thanku")

0.75
Thanku

In [16]:
# if else
age = 15                               
if age < 18:
    print("Minor")
else:
    print("Thanku")

Minor

In [ ]:
# if-elif statement
marks = 24                           
if marks >= 25:
    print("Gread A")
elif marks >= 20:
    print("Gread B")
elif marks >= 10:
    print("Gread c")
else:
    print("Fail")

Gread B

In [19]:
# if-elif statement
marks =85
if(marks>=90):
    print("Gread A")
elif (marks>=80 and marks < 90):
    print("Gread B")
elif (marks>=70 and marks < 80):
    print("Gread c")
else:
    print("fail")

Gread B

In [23]:
# Nested if statement
num = 10
if num > 0:
    if num % 2 == 0:
        print("even num")
    else:
        print("odd num")

even num

Operators

In [3]:
#Arithmetic operators
a = 5
b = 2
print(a+b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
3
10
2.5
1
25

In [4]:
# Assignment operators
num = 10
num += 5
print("num :",num)

num : 15

In [ ]:
# Compration operators
a = 50
b = 20
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)
print(a > b)
print(a < b)

False
True
True
False
True
False

In [14]:
# Logical operators
a = 50
b = 30
print(not False)
print(not(a > b))

True
False

In [5]:
# Identity operators
a = 20
b = "20"
print(a is not b)

True

In [10]:
# Bitwise operators
a = 10
b = 8
print( a & b)
print(a | b)
print(a ^ b)
print(a << 2)

8
10
2
40

In [14]:
# Membership operators
a = "hello"
print("e" in a)
print("p" not in a)

True
True

In [17]:
# Type Conversion
a = 2
b = 4
sum =  a + b 
print(sum)
print(type(sum))

6
<class 'int'>

Input in python

In [ ]:
name = input("enter your name:")
print("Welcome",name)

Welcome Ravi

In [2]:
name = input("enter name")
age = input("enter age")
marks = float(input("enter marks"))
print("Welcome=",name)
print("age=",age)
print("marks=",marks)

Welcome= Ravi
age= 19
marks= 60.0

Write  a program to input 2 numbers & print their sum

In [ ]:
first = int(input("enter first"))
second = int(input("enter second"))
print("sum=",first+second)

sum= 70

Write a program to input side of a square & print its area

In [3]:
side = float(input("enter square "))
print("area=", side ** 2)

area= 16.0

Write a program 2 floating point numbers & print their average

In [4]:
a = float(input("enter first"))
b = float(input("enter second"))
print("avg=",(a+b)/2 )

avg= 15.0

String

In [10]:
str1 = "Ravi"
str2 = 'Verma'
str3 ="""BBDU"""
print("str1  :",str1)
print("str2 :",str2)
print("str3 :",str3)

str1  : Ravi
str2 : Verma
str3 : BBDU

In [ ]:
# length of string
a = "my name is ravi verma"
print(a)
print(len(a))
print(a.upper())

my name is ravi verma
21
MY NAME IS RAVI VERMA

In [ ]:
# length of string
str1 ="Ravi verma"
print(str1)
print(len(str1))

Ravi verma
10

In [ ]:
# Indexing
str = "apna college"           # all correctors of index 0 1 2......
print(str[2])

n

In [ ]:
# slicing
str = "Ravi verma"
print(str[0:4])

Ravi

Write a program to check if a number enterd by the user is odd or even

In [8]:
num = int(input("enter nuber"))
if(num % 2==0):
  print("even")
else:
  print("odd")

even

write a program to take details from a student for ID-card and then print it in different lines

In [ ]:
name = input("enter students name")
branch = input("enter branch")
roll  = input("enter the roll ")
year = input("enter year")
print("Student ID Card")
print("name :",name)
print("branch :",branch)
print("roll no :",roll )
print("year :",year)

Student ID Card
name : Ravi
branch : SOCA
roll no : 62
year : 2

In [ ]:
# convert a float into integer
x = 12.5
print(type(x))
x =int(x)
print(type(x))
print(x)

<class 'float'>
<class 'int'>
12

In [ ]:
# check if a number is positive and negative
num = int(input("enter a number"))
if num > 0:
    print("the number is positive ")
elif num < 0:
    print("the number is negative")
else:
    print("the number is zero")

the number is positive

In [ ]:
# even or odd number
num = int(input("enter the number"))
if num % 2 == 0:
    print(" It is even number")
else:
    print("It is odd number")

 It is even number